.header-color{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  width: 100%;
  height: 100%;
}

.profile-image{
  height: 350px;
  padding-top: 3em;
  padding-bottom: 1em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color:white;
  padding-top: 10px;
}

.banner-text hr{
  border-top: 5px solid white ;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 24px;
  padding: 1em;
}

.social-links {
  display:flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
}

.social-links i {
  color:white;
  font-size: 6em;
  padding: 8px;
}

.projects-grid{
  display:flex;
}

/* contact page */

.contact-body{
  width: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-body h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 100px;
  
}

.contact-body h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.contact-grid p, a{
  font-family: 'Roboto';
  font-size: 20px;
  color: #606060;
}

.contact-grid hr{
  border-top: 5px solid black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.contact-description i {
  font-size: 200px;
  padding: 15px;
}

.contact-description p{
  font-family: 'Roboto';
  font-size: 20px;
  color: #606060;
}


/* contact page */

.about-body{
  width: 100%;
  justify-content: center;
  padding-top: 3em;
}

.about-body h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 100px;
  padding-bottom: 0.5em;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


.skill-section p {
  font-size: 16px;
  padding-bottom: 0.5em;
}